
*{
    padding: 0; /* Elimina el relleno por defecto */
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del tamaño total */
    border: 0; /* Elimina cualquier borde por defecto */
}


.header{
    background-color: rgb(47, 0, 255); /* Fondo azul intenso */
    padding: 10px; /* Espaciado interno */
    color: white; /* Texto en color blanco */
}


.header__nav{
    display: flex; /* Usa flexbox para alinear los elementos de navegación */
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center; /* Centra los elementos verticalmente */
    font-size: 20px; /* Tamaño del texto */
}


.header__nav-link{
    padding: 5px 10px; /* Espaciado interno del enlace */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    cursor: pointer; /* Muestra la mano al pasar sobre el enlace */
}


.header__nav-link:hover{
    background-color: red; /* Cambia el fondo a rojo */
    transition: 1.3s; /* Transición suave del cambio de color */
}
