.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para cada producto */
.producto {
    width:23%; /* Ancho del producto */
    margin: 1%; /* Espaciado entre productos */
    background-color: white; /* Color de fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil */
    padding: 15px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
    text-align: center; /* Centra el texto dentro del producto */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos para la imagen del producto */
.producto__image {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: 150px; /* Altura fija de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilos para el título del producto */
.producto__title {
    font-size: 16px; /* Tamaño de la fuente del título */
    margin-bottom: 10px; /* Espaciado inferior */
    height: 40px; /* Altura fija para el título */
    overflow: hidden; /* Oculta el texto que excede el contenedor */
}

/* Estilos para la descripción del producto */
.producto__description {
    font-size: 14px; /* Tamaño de la fuente de la descripción */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilos para el precio del producto */
.producto__precio {
    font-weight: bold; /* Negrita para el precio */
    color: #5d9cec; /* Color del precio */
    margin: 10px 0; /* Espaciado vertical */
    font-size: 18px; /* Tamaño de la fuente del precio */
}

/* Estilos para el botón de compra del producto */
.producto__btn {
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    text-decoration: none; /* Sin subrayado */
    border-radius: 3px; /* Bordes redondeados */
}